/* Hacked together based on:
 * https://jgthms.com/web-design-in-4-minutes/ 
 */

:root {
  /* --color-highlights: #822E2B; */
  --color-highlights: #573875;
  --color-links: #79A6D8;
  --color-background: #0d1109;
  --color-text: #F5E8B7;
}

* {
  box-sizing: border-box;
}

mark {
  display:block;
  background-color: var(--color-highlights);
  color: inherit;
}

ul {
  display: table;
  margin: 0 auto;
}
p, h1, h2, h3 {
  text-align: center;
}

body {
  color: var(--color-text);
  background-color: var(--color-background);
  margin: 0 auto;
  max-width: 50em;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 2em 1em;
}

h1, .zoom-header {
  font-size: 2.5em
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em
}

h2, h3 {
  margin-top: 1.5em;
}

code, pre {
  background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  border-left: 2px solid #bbb;
  padding: 1em;
}

a {
  color: var(--color-links);
}

.linkStyle {
  text-decoration: underline;
}

blockquote, q {
  border-left: solid 4px #bbb;
  font-style: italic;
  margin: 0 0 2em 0;
  padding: 0.5em 0 0.5em 2em;
}

blockquote::before, blockquote::after, q::before, q::after {
    content: '';
    content: none;
}

body {
  margin: 0;
  justify-content: center;
  width: 100%;
  margin: auto;
}

.zoom-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: var(--color-background);
  border-bottom: 1px solid #ddd;
  padding: 0.5rem 1rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.no-print {
  margin: 0;
}

#textSizeTools {
  display: none; /* hidden until JS runs */
}
